{% extends ':layouts:base.html.twig' %}
    {% block header %}
        Article
    {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ article.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ article.titre }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ article.slug }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td>{{ article.contenu }}</td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{% if article.dateCreation %}{{ article.dateCreation|date('d/m/Y H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Date de modification</th>
                    <td>{% if article.dateModification %}{{ article.dateModification|date('d/m/Y H:i:s') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a href="{{ path('article_edit', { 'id': article.id }) }}" class="btn btn-primary">
                    Modifier
                </a>
                <a href="{{ path('article_index') }}" class="btn btn-default">
                    Retour à la liste
                </a>
                <a href="#suppression" data-toggle="modal" class="btn btn-danger">
                    Supprimer
                </a>
            </p>
        </div>
    </div>
    <!-- Popup DELETE -->
    <div id="suppression" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Confirmer la suppression</h4>
                </div>
                <div class="modal-body">
                    {{ form(delete_form) }}
                    <p class="text-danger text-center">
                        Souhaitez-vous vraiment supprimer ceci ?
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="#" onClick="form.submit()" class="btn btn-danger" data-placement="top"
                       data-original-title="Supprimer">
                        <i class="fa fa-trash-o"></i> Oui, Supprimer
                    </a>
                    <button type="button" data-dismiss="modal" class="btn btn-default">
                        Non
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Popup DELETE -->
{% endblock %}
